.view-news-category .view-content{
	border-top: 1px solid #666666;
	padding-top: 10px;
}
.view-news-category  .views-row{
	border-bottom: 1px solid #666666;
    color: #086782;
    margin-bottom: 10px;
}
.view-news-category  .views-field-name-1{
	float : left;
}

.view-news-category  .views-field-name-1 .views-label-name-1{
	color: #666666;
	font-weight: bold;
}


.view-news-category  .views-field-name-1 .field-content a{
	color: #666666;
	font-weight: bold;
}

.view-news-category  .views-field-title{
	font-size : 1.5em;
	margin-bottom: 5px;
}

.view-news-category  .views-field-created span{
	font-size:12px;
	color: #666666;
	font-weight: bold;
}

.view-news-category  .views-field-name{
	font-style: italic;
}

#right-content-container .view-news-category  .views-field-body .field-content p{
	margin-bottom:6px;
}


.view-news-category  .views-field-phpcode #news-view-more {
 background: url("images/more.png") no-repeat scroll 0 6px transparent;
 font-size : 10px;
 float: right;
 margin-top: -18px;
 padding-left: 10px;
 
}

.news-heading{
    color: #666666;
    margin-bottom: 10px;
    margin-top: 4px;
}

.news-heading-title{
	font-size : 2em;
	margin-bottom: 5px;
	color: #086782;
}

.view-news-category #pager-top{
	float:right;
	margin-top: -20px;
}

.view-news-category #pager-bottom .item-list{
	float:right;
}


/*css for first order primary navigation starts here*/


#nav-middle #primary-menu ul{
	list-style-type:none;
	width:837px;
	height:30px;
	margin-left:55px;
}

#nav-middle #primary-menu li{
	float:left;
	margin-left:25px;
	margin-right:25px;
	position:relative;
	background: transparent !important;
}

#nav-middle #primary-menu li a:hover{
	background:#48AD39;
}
#nav-middle #primary-menu li a{
	font-size:14px;
	font-weight:bold !important;
	text-transform:uppercase;
	color:#fff;
	line-height:1.5;
}

#nav-middle #primary-menu li a SPAN{
	font-size:14px;
	font-weight:bold !important;
	text-transform:uppercase;
	color:#fff;
	line-height:2.2;
}

#nav-middle #primary-menu li a SPAN:hover{
	color:#000000;
}
/*end*/

/* css for second degree primary navigation */


#nav-middle #primary-menu ul ul{
	height: 10px;
    list-style-type: none;
    width: 150px;
	margin-left: 0px;
}


#nav-middle #primary-menu  li ul li{
	background:none !important;
}

#nav-middle #primary-menu  li ul li ul{
	margin-left: 125px;
	margin-top:-33px;
}


#nav-middle #primary-menu  li ul a{
    float:left;
	color:#ffffff;
	margin-left:-25px;
	padding-bottom:0px !important;
    line-height: 1.4 !important;
    padding: 2px 13px !important;
	color: #000000;
	background:#F0F2EF;	
	margin-top:-4px;
	border-color: #48AD39 !important;
    border-left: 4px solid #48AD39 !important;
    border-right: 4px solid #48AD39 !important;
    border-style: solid !important;
    border-width: 2px 4px !important;

}

#nav-middle #primary-menu  li:hover ul {
    display:block;
	background-color:#069;
	color:#ffffff;
	padding-bottom:10px;
	padding-top:0px;
}

#nav-middle #primary-menu li:hover ul  li a:hover{
	color:#ffffff;
}

.quote-div{
	color: #0066B3;
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
	margin-left:20 px;
    text-align: right;
	margin-right: 37px;
	float: right;
}

.quotes{
	font-size:12px;
	color:#0066b3;
	font-style:italic;
	width:90%;
	text-align:right;
	margin-top:23px;
	float: right;
}

.quotes .quotes-author {
	clear: both;
    text-align: right;
	margin-top: 5px;
}

.email-page{
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin: 9px 36px auto 18px;
    padding: 7px 7px 7px 0;
    width: 50%;
	float: left;
}

.email-page p  a{
	font-size: 1.1em;
	font-weight: bold !important;
	text-transform: uppercase;
}

.follow-us-one .heading{
    margin: 8px 38px 0px auto;
    width: 222px;
	font-weight: bold;
}

.follow-us-one .heading p{
	font-weight:bold;
}

.follow-us-one .media-contents{
    margin: 8px 38px 12px auto;
    width: 222px;
	float: right;
}

.follow-us-one .media-link{
    float: left;
	/* margin: 8px 38px 12px auto; */
    width: 40px;
}

/* css for footer media buttons */

.foot-media{
	float: left;
    margin-left: 25px;
    margin-top: 90px;
}

.follow-us-two .heading{
    margin-bottom: 8px;
	font-weight: bold;
}

.follow-us-two .media-link{
    float: left;
    width: 40px;
}


/* breadcrumb css */

.page-breadcrumb{
	float: right;
    height: 10px;
    padding-bottom: 0.3em;
    width: 672px;
}

.page-breadcrumb .breadcrumb a{
	font-weight: bold;
}
/*******/

/* blog page css */
.blog-content #blog-heading{
	color: #086782;
    font-size: 2em;
    margin-bottom: 5px;
}

.blog-content #gray-div{
	height:100px;
	border-radius:10px;
	background:gray;
}

.view-news-category  .views-field-phpcode .share-blog{
 background: url("images/more.png") no-repeat scroll 0 5px transparent;
 font-size : 12px;
 float: left;
 padding-left: 10px;
 text-transform: uppercase;
 margin-right: 8px;
}

.view-news-category .views-field-field-blog-keywords-value span{
	font-size : 12px;
	color: #666666;
	font-weight: bold;
}

.view-news-category .views-field-picture{
	float: right;
    margin-top: -27px;
}

.view-news-category .gray-div{
	height:200px;
	border-radius:10px;
	background:gray;
	margin-top:10px;
	margin-bottom:10px;
}

/* css for view product */
.view-product-category .views-field-field-product-sample-image-fid{
	float:left;
	width:160px;
	padding:5px;
}

.view-product-category .views-field-body{
	float:right;
	width:358px;
}

.view-product-category .views-field-title{
	width:358px; 
	float:right; 
	font-size:18px;
	padding-top:5px;
}

.view-product-category .views-row{
	border-bottom: 1px solid #666666;
    color: #086782;
    margin-bottom: 10px;
	float:left;
}

/******end**************/

/* css for view company */

.view-management-persons .views-field-title{
	width:358px; 
	float:right; 
	font-size:18px;
	padding-top:5px;
}

.view-management-persons .views-field-field-profile-pic-fid{
	float:left;
	width:160px;
	padding:5px;
}

.view-management-persons .views-field-body{
	float:right;
	width:358px;
}

.view-management-persons .views-row{
	border-bottom: 1px solid #666666;
    color: #086782;
    margin-bottom: 10px;
	float:left;
}


/*********End************/

/* css for view Partners */

.view-tego-partners .views-field-title{
	width:358px; 
	float:right; 
	font-size:18px;
	padding-top:5px;
}

.view-tego-partners .views-field-phpcode{
	width:358px; 
	float:right; 
	font-size:15px;
	padding-top:5px;
}

.view-tego-partners .views-field-phpcode a{
	font-weight: bold;
}

.view-tego-partners .views-field-field-partner-image-fid{
	float:left;
	width:160px;
	padding:5px;
}

.view-tego-partners .views-field-body{
	float:right;
	width:358px;
}

.view-tego-partners .views-row{
	border-bottom: 1px solid #666666;
    color: #086782;
    margin-bottom: 10px;
	float:left;
}


/*********End************/

#left_bar .block-menu_block .overview ul li a{	
    color: #333333;
    font-size: 10px;
	text-transform: uppercase;
}

#left_bar .block-menu_block .overview ul{	
    list-style-type: none;
    margin-right: 22px;
    margin-top: 0px;
    text-align: right;
}

#left_bar .block-menu_block .overview ul  li.leaf{	
	list-style-type: none;
	list-style-image: none;
	padding:0px
}

#left_bar .block-menu_block .overview ul li .active{	
	background: url("images/more.png") no-repeat scroll 11px 6px transparent;
    clear: both;
    color: #0066B3;
    float: right;
    font-size: 10px;
    padding-left: 20px;
}


/*******/
#head-right-top .search-form .form-item label{
	border: medium none;
    color: #0066B3;
    cursor: pointer;
    float: right;
    font-size: 10px;
    font-weight: bold;
    outline: medium none;
}

#head-right-top .search-form .form-item{
	margin: 2px 0;
}

#head-right-top .search-form .form-item .form-text{
    background: url("images/search_bg.png") no-repeat scroll 0 0 transparent;
    border: 0 none !important;
    color: #999999;
    float: right;
    font-size: 11px;
    height: 21px;
    width: 222px;
	padding: 0 0 0 16px;
}

#head-right-top .search-form .form-item .form-submit{
	display: none;
	visibility: hidden;
}