@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
	outline:none;
}


body{
	font-family: arial,helvetica,verdana,helvetica-neue,sans-serif;
	line-height:18px;
	font-size:12px;
	padding:0px;
	background:#0066b3 !important;
}

h1, h2, h3, #site-name a, #site-slogan, .block h2, #forum td.container .name a, tr.region-title td, table#permissions td.module {
    font-family: arial,helvetica,verdana,helvetica-neue,sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	margin:0px !important;
	font-weight:bold !important;
}

p{
	margin:0px;
}

ul {
    list-style: none !important;
}

ul, ol, dl {
    list-style-position: none !important;
}

IMG{
	border:none;
	outline:none;
}

a{
	text-decoration:none !important;
	border-bottom: none !important;
	color:#fff;
	border:none;
	outline:none;
}

body.no-sidebars #header-menu, body.no-sidebars #header, body.no-sidebars #main-columns{
	max-width: 942px !important;
    min-width: 550px !important;
}

#wrapper{
	width:1020px;
	height:auto;
	min-height:1000px;
	margin-left:auto;
	margin-right:auto;
	background:#fff;
}

#header{
	width:942px !important;
	height:79px;
	margin-left:auto;
	margin-right:auto;

}

#logo-container{
	width:167px;
	height:64px;
	margin-left:71px;
	float:left;
	margin-top:10px;
}

#head-right{
	width:auto;
	height:64px;
	float:right;
}

#head-right-top{
	width:290px;
	height:35px;
	padding-top:3px;
	float:right;
	#padding-bottom:5px !important;
}

#head-right-top p input.btn{
	color:#0066b3;
	font-size:10px;
	float:right;
	font-weight:bold;
	border:none;
	outline:none;
	cursor:pointer;
}

#head-right-top ul{
	list-style-type:none;
	padding-top:0px !important;
	float:right;
	padding-left:40px !important;
}

#head-right-top li{
	float:right;
	background:url(images/search_bg.png) no-repeat;
	width:222px;
	height:21px;
}

#head-right-top li INPUT.search{
	width:205px;
	height:21px;
	border: none;
	color:#999;
	#padding-left:20px !important;
	border:0px !important;
	float:right;
	font-size:11px;
}

#head-right-bottom{
	width:auto;
	height:31px;
	margin-top:52px;
}

#head-right-bottom ul{
	list-style-type:none;
}

#head-right-bottom li{
	float:right;
	padding-left:30px;
}

#head-right-bottom li a{
	color:#0066b3;
	font-weight:bold;
}

#head-right-bottom li a:hover{
	color:#036;
}

#navigation{
	width:942px;
	height:30px;
	float:right;

}

#nav-left{
	width:11px;
	height:31px;
	float:left;
}

#nav-middle{
	width:923px;
	height:31px;
	background:url(images/nav_middle.jpg) repeat-x;
	float:left;
}

#nav-right{
	width:8px;
	height:31px;
	float:right;
}

#nav-middle ul{
	list-style-type:none;
	width:837px;
	height:30px;
	margin-left:55px;
}

#nav-middle li{
	float:left;
	margin-left:31px;
	margin-right:31px;
	position:relative;
}

#nav-middle li a{
	font-size:14px;
	font-weight:bold !important;
	text-transform:uppercase;
	color:#fff;
	line-height:2.2;
}

#nav-middle li a SPAN{
	font-size:14px;
	font-weight:bold !important;
	text-transform:uppercase;
	color:#fff;
	line-height:2.2;
}

#nav-middle li a SPAN:hover{
	color:#000000;
}

#contentarea{
	width:1020px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}

#left-content{
	width:742px;
	height:auto;
	float:left;
}

#right_content{
	width:278px;
	height:auto;
	float:right;
	padding-top: 4px;
}

#right_content .sec{
	width:222px;
	height:auto;
	background:#e6e6e6;
	margin-top:8px;
	margin-bottom:12px;
	margin-left:auto;
	margin-right:auto;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px; 
	float:right;
	margin-right:38px;
}

#banner{
	width:95%;
	height:209px;
	background:url(images/banner.jpg) no-repeat;
	margin-top:11px;
	margin-left:40px;
}

#banner-left{
	width:354px;
	height:190px;
	background:url(images/banner_left.png) no-repeat;
	float:left;
	padding-left:50px;
	padding-top:20px;
}

#banner-left h1{
	font-size:27px;
	color:#65b139;
	line-height: 1.2;
    width: 175px;
	font-weight:bold;
	width:240px;
}

#banner-left h3{
	font-size:14px;
	color:#00c3ff;
	font-weight:normal;
	width:245px;
}

#banner-left p{
	font-size:12px;
	color:#fff;
	margin-top:7px;
	width:215px;
}

#banner-left ul{
	list-style-type:none;
	margin-top:6px;
	width:200px;
	margin-left:2px !important;
}

#banner-left li{
	float:left;
	display:inline;
}
#banner-left li a{
	width:15px;
	height:15px;
	float:left;
	background:#CCCCCC;
	margin-right:8px;
}
#banner-left li a:hover{
	background:#006699;
}

#right_content .sec h3{
	color:#0066b3;
	font-size:16px;
	margin:9px 15px 0px 15px !important;
}

#right_content .sec p{
	color:#666666;
	font-size:12px;
	margin:4px 15px 9px 15px;
}

#right_content .sec a{
	color:#0066b3;
	font-size:10px;
	margin-left:5px;
	font-weight:bold;
	background:url(images/more.png) no-repeat 0px 2px;
	padding-left:10px;
}

#block-container{
	width:95%;
	height:120px;
	margin-top:10px;
	margin-left:40px;
}

#block-container .block{
	width:226px;
	height:173px;
	float:left;
	margin-right:8px;
}

#block-container .block h3.block1{
	width:226px;
	height:30px;
	background:url(images/aerospace_title.jpg) no-repeat;
	float:left;
	color:#FFF;
	font-size:16px;
	line-height:1.8;
	padding-left:15px;
}

#block-container .block h3.block2{
	width:226px;
	height:30px;
	background:url(images/medical_title.jpg) no-repeat;
	float:left;
	color:#FFF;
	font-size:16px;
	line-height:1.8;
	padding-left:15px;
}

#block-container .block h3.block3{
	width:226px;
	height:30px;
	background:url(images/indmaintenance_title.jpg) no-repeat;
	float:left;
	color:#FFF;
	font-size:16px;
	line-height:1.8;
	padding-left:15px;
}

#block-container .block p{
	color:#666666;
	font-size:12px;
	margin:6px 5px 6px 4px;
}

#block-container .block a{
	color:#0066b3;
	font-size:10px;
	margin-left:5px;
	font-weight:bold;
	background:url(images/more.png) no-repeat 0px 2px;
	padding-left:10px;
}

#block-container-bottom{
	width:95%;
	height:auto;
	margin-top:52px;
	margin-left:40px;
}

#block-container-bottom .bottom-block{
	width:226px;
	height:auto;
	float:left;
	margin-right:8px;
}

#block-container-bottom .bottom-block h3.block1{
	width:226px;
	height:31px;
	background:url(images/resources_title.jpg) no-repeat;
	float:left;
	color:#FFF;
	font-size:16px;
	line-height:1.9;
	padding-left:15px;
}

#block-container-bottom .bottom-block h3.block2{
	width:226px;
	height:31px;
	background:url(images/news_title.jpg) no-repeat;
	float:left;
	color:#FFF;
	font-size:16px;
	line-height:1.9;
	padding-left:15px;
}

#block-container-bottom .bottom-block h3.block3{
	width:226px;
	height:31px;
	background:url(images/high_memory_title.jpg) no-repeat;
	float:left;
	color:#FFF;
	font-size:16px;
	line-height:1.9;
	padding-left:15px;
	padding-bottom:10px;
}

#block-container-bottom .bottom-block ul.resources{
	list-style-type:none;
	padding-top:10px;
	width:223px;
	#padding-top:0px;
	#width:auto;
}

#block-container-bottom .bottom-block ul.resources li{
	float:left;
	margin-top:10px;	
    width: 185px;
}

#block-container-bottom .bottom-block ul.resources li.whitepaper{
	background:url(images/whitepaper_icon.jpg) no-repeat;
	padding-left:25px;
	float:left;
}

#block-container-bottom .bottom-block ul.resources li p{
	font-size:12px;
	color:#666666;
	line-height:1.4;
}

#block-container-bottom .bottom-block ul.resources li a{
	font-size:12px;
	color:#0066b3;
	font-weight:bold;
	padding-right:4px;
}

#block-container-bottom .bottom-block ul.resources li.video{
	background:url(images/video_icon.jpg) no-repeat;
	padding-left:25px;
	float:left;
}

#block-container-bottom .bottom-block ul.medical{
	list-style-type:disc !important;
	list-style-position:outside;
	padding-top:10px;
	width:200px;
	margin-left:16px !important;
}

#block-container-bottom .bottom-block ul.medical li{
	float:left;
	margin-top:10px;
	list-style-type:disc !important;
}

#block-container-bottom .bottom-block ul.medical li p{
	font-size:12px;
	color:#666666;
	line-height:1.4;
}

#block-container-bottom .bottom-block ul.medical li a{
	color:#0066b3;
	font-size:10px;
	margin-left:5px;
	font-weight:bold;
	background:url(images/more.png) no-repeat 0px 2px;
	padding-left:10px;
}

#block-container-bottom .ind p{
	font-size:12px;
	color:#666666;
	line-height:1.7;
	padding-bottom:0px;
	width:220px;
	margin-left:5px;
}

#block-container-bottom .ind a{
	color:#0066b3;
	font-size:10px;
	margin-left:5px;
	font-weight:bold;
	background:url(images/more.png) no-repeat 0px 2px;
	padding-left:10px;
}


#footer{
	width:100%;
	height:auto;
	min-height:219px;
	margin-top:20px;
	background:url(images/foot_logo.jpg) 64px 15px no-repeat #ccd2d5;
}

#footer-container{
	width:930px;
	#width:820px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	padding-left:15px;
}
.foot-box{
	width:127px;
	height:auto;
	margin-right:5px;
	padding-left:0px;
	float:left;
}

.foot-box ul{
	/* margin-right:15px; */
}

.foot-box li{
	list-style-type:none !important;
	line-height:15px;
	color:#666666;
	font-size:10px;
	list-style-image:none !important;
}

.foot-box li a{
	font-size:14px;
	color:#666666 !important;
}

.foot-box li a:hover{
	color:#0099CC !important;
}

.foot-box h2{
	color:#666666 !important;
	font-size:16px;
	margin-bottom:5px;
	font-weight:bold !important;
	padding-left:18px !important;
}

.foot-box ul.menu{
	#margin-left:-14px;
}

/* styles for inner page starts here */

#inner-banner{
	width:911px;
	height:42px;
	background:url(images/inner-banner.jpg) no-repeat;
	float:left;
	margin-left:68px;
	margin-top:11px;
}

#inner-banner h1{
	color:#fff;
	font-size:31px;
	font-style:italic;
	margin-left:30px !important;
	line-height:1.3;
}

.resource-sec{
	width:222px;
	height:200px;
	margin-top:8px;
	margin-bottom:42px;
	margin-left:auto;
	margin-right:auto;
	float:right;
	margin-right:38px;
}

.resource-sec h3.block1{
	width:226px;
	height:30px;
	background:url(images/resources_title.jpg) no-repeat;
	float:left;
	color:#FFF;
	font-size:16px;
	line-height:1.8;
	padding-left:15px;
}

.resource-sec ul.resources{
	list-style-type:none;
	padding-top:10px;
	width:223px;
	#padding-top:0px;
	#width:auto;
	
}

.resource-sec ul.resources li{
	float:left;
	margin-top:10px;
	#width:200px;
}

.resource-sec ul.resources li.whitepaper{
	background:url(images/whitepaper_icon.jpg) no-repeat;
	padding-left:25px;
	float:left;
}

.resource-sec ul.resources li p{
	font-size:12px;
	color:#666666;
	line-height:1.4;
}

.resource-sec ul.resources li a{
	font-size:12px;
	color:#0066b3;
	font-weight:bold;
	padding-right:4px;
}

.resource-sec ul.resources li.video{
	background:url(images/video_icon.jpg) no-repeat;
	padding-left:25px;
	float:left;
}

#inner-contentarea{
	width:1020px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;
}

#inner-contentarea #left-content .orange-bar{
	width:677px;
	height:9px;
	float:left;
	margin-left:65px;
	background:url(images/orange_bar.jpg) no-repeat;
	margin-top:6px;
}

#inner-contentarea #left-content #left_bar{
	width:196px;
	height:auto;
	float:left;
	margin-top:22px;
}

#inner-contentarea #left-content #right-content-container{
	width:528px;
	height:auto;
	float:right;
	margin-top:22px;
}

.overview{
	width:100%;
	height:auto;
	background:#e6e6e6;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px; 
	padding:24px 0px;
}

.overview h5{
	color:#0066b3;
	font-size:10px;
	background:url(images/more.png) no-repeat 11px 6px;
	padding-left:20px;
	float:right;
	margin-right:22px !important;
	clear:both;
}

.overview ul{
	list-style-type:none;
	text-align:right;
	margin-top:23px;
	#margin-top:-20px;
	margin-right:22px;
}
.overview li {
	clear:both;
}

.overview li a{
	color:#333333;
	font-size:10px;;
}
/*commented by manish*/
/* #left_bar p{
	font-size:12px;
	color:#0066b3;
	font-style:italic;
	width:90%;
	text-align:right;
	margin-top:23px;
}
 */
#right-content-container .content h2{
	color:#0066b3;
	font-size:16px;
}
#right-content-container .content p{
	color:#666666;
	font-size:12px;
	margin-top:7px;
	margin-bottom:10px;
}

#right-content-container .content p.quote{
	color:#0066b3;
	font-size:16px;
	margin-top:7px;
	margin-bottom:15px;
	font-style:italic;
	text-align:center;
	width:400px;
	margin-left:65px;
	font-weight:bold;
	line-height:1.5;
}

.quote .sub-head{
	font-size:12px;
}
#right-content-container .content ul{
	margin-left:20px;
	list-style-type:disc !important;
}

#right-content-container .content li{
	color:#666666;
	font-size:12px;
	line-height:18px;
	margin-bottom:4px;
}

/* css for admin configurations*/
legend {
    background-color: #cccccc !important;
	padding: 2px 10px 4px 2px !important;
}

html.js fieldset.collapsed legend a, html.js fieldset.collapsible legend a {
    background-position: right 7px !important;
    padding-right: 10px !important;
}

html.js fieldset.collapsed {
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    border-right-width: 1px !important;
	border-top-width:1px !important;
}

input.form-button, input.form-submit {
	margin-top:15px !important;
}

.form-item label {
    font-size: 12px !important;
    font-weight: bold !important;
    margin-bottom: 5px !important;
    vertical-align: middle !important;
}

fieldset{
	width:460px !important;
}

/* css for sub-navigation starts here */

#navigation li ul {
    position:absolute;
    width:200px;
    display:none;
	left:0;
	top:32px;
	margin-left:-16px;
	-webkit-box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.5);
box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.5); 
}

#navigation li ul li{
	background:none !important;
}
#navigation li ul a{
    width:125px;
    float:left;
	color:#ffffff;
	padding-bottom:0px !important;
    line-height: 1.3 !important;
    padding: 10px 15px !important;
	

}

#navigation li:hover ul {
	width:155px;
    display:block;
	background-color:#069;
	color:#ffffff;
	padding-bottom:10px;
	padding-top:0px;
}

#navigation li:hover ul  li a:hover{
	background-color:#003;
	color:#ffffff;
}